name: Release

on: push

jobs:
  linux-x86_64:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['1.26']
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: ./build.sh
      - name: Upload
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: otconda-${{ matrix.version }}-Linux-x86_64.sh

  linux-aarch64:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        version: ['1.26']
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: ./build.sh
      - name: Upload
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: otconda-${{ matrix.version }}-Linux-aarch64.sh

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        version: ['1.26']
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: ./build.sh
      - name: Upload
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: otconda-${{ matrix.version }}-MacOSX-arm64.sh

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        version: ['1.26']
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          conda-remove-defaults: "true"
      - name: Build
        run: |
          conda install -y constructor
          constructor -v otconda
          get-childitem
      - name: Upload
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: otconda-${{ matrix.version }}-Windows-x86_64.exe
